{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/env",
      {
        "debug": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
